<div class="post-creation-card">
    <h1 class="post-creation-title">Welcome, admin !</h1>
    <form action="/send-post" method="POST" class="blog-creator-form">
        <!-- <label for="title">Post title</label> -->
        <input placeholder="Post title" type="text" name="title" class="title-input" required>
        <!-- <label for="content">Post content</label> -->
        <textarea name="content" class="textarea-input" placeholder="Enter the content of the text here:" required></textarea>
        <!-- <label for="image">Image</label>
        <input type="file" class="file-input" name="image"> -->
        <input type="submit" class="button-input" value="Submit post.">
    </form>
</div>



