<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/blog-creator.css">
    <title>Dynamic Blog</title>
</head>
<body>
    <div class="header">
        <nav>
            <ul class="navbar-list">
                <a href="/"><img class="navbar-icon" src="/resources/crux.png" alt="An image of the crux constelation"></a>
                <div class="navbar-center-content">
                    <li class="navbar-list-item"><a class="navbar-link" href="/">Home</a></li>
                    <li class="navbar-list-item"><a class="navbar-link" href="/posts">Posts</a></li>
                </div>
                <div class="navbar-admin content">
                    <a class="admin-link" href="/admin"><img class="navbar-admin-icon" src="/resources/user-login.png" alt="A user login icon"></a>
                </div>
            </ul>
        </nav>
    </div>
</body>
</html>