/* 
Blog Creator card
*/
.post-creation-card{
    background-color:rgba(87, 133, 219);
    border-radius: 2%;
    justify-items: center;
    align-content: center;
    height: 100vh;
    width: 80vw;
    margin: 5%;
    padding: 1%;
}

.blog-creator-main-div{
    justify-items: center;
}

.blog-creator-form{
    margin: 1.125rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
    align-content: center;
}

.blog-creator-form label{
    font-size: 22px;
    font-weight: bold;
    margin: 5px;
    padding: 5px;
    text-decoration: underline;
}

.title-input{
    align-self: center;
    border: none;
    background-color:rgb(117, 150, 211);
    border: 2px solid #ccc;
    width: 25rem;
    height: 2rem;
    font-size: 1.750rem;
    font-weight: bold;
    border-radius: 5%;
    text-align: center;
}

.title-input::placeholder{
    color: white;
    font-size: 20px;
}

.title-input:focus{
    color: white;
}

.textarea-input{
    margin: 20px;
    box-sizing: border-box;
    background-color:rgb(117, 150, 211);
    padding: 12px 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    height: 50%;
    width: 75%;
    resize: none;
    font-size: 16px;
    font-family: sans-serif;
}

.textarea-input::placeholder{
    color: white;
}

.textarea-input:focus{
    color: white;
}

/* .file-input{
    margin: 20px;
    font-size: 14px;
    cursor: pointer;
} */

.button-input{
    background-color:rgb(117, 150, 211);
    border: 2px solid white;
    align-self: center;
    color: white;
    margin: 40px;
    height: 40px;
    width: 200px;
}

.button-input:hover{
    background-color:rgb(100, 127, 177);
    cursor: pointer;
}

@media only screen and (max-width: 768px){
    .title-input{
        width: 40vw;
        font-size: 16px;
    }
    .blog-creator-form{
        justify-content: flex-start;
    }
    .textarea-input{
        height: 60vh;
    }

}

@media only screen and (max-height: 500px){
    .textarea-input{
        height: 20vh;
    }
}
